.reject-app {
   position: absolute;
   top: 100%;
   left: 0;
   background: #fff;
   border-radius: 0px 6px 6px 6px;
   min-width: 190px;
   z-index: 3;
   padding: 15px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
