.title {
   font-size: 22px;
   &__all {
      position: relative;
      color: #9d9e9e;
      margin: 0 30px;
      &::before {
         border-radius: 50%;
         content: "";
         position: absolute;
         left: -20px;
         top: 10px;
         background-color: #9d9e9e;
         width: 8px;
         height: 8px;
      }
   }
}